<%- include("partials/_header") %>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-5 offset-md-3 card bg-dark">
        <div class="card-body">
          <form action="/updateDoctor/<%= doctor.drId %>" method="POST">
            <input type="text" name="drFirstName" value="<%= doctor.drFirstName %>" placeholder="First Name"
              class="form-control mb-3" autofocus />
            <input type="text" name="drLastName" value="<%= doctor.drLastName%>" placeholder="Last Name"
              class="form-control mb-3" />

            <button type="submit" class="btn btn-primary">save doctor</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/_footer") %>