<%- include("partials/_header") %>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-5 offset-md-3 card bg-dark">
        <div class="card-body">
          <form action="/updateTreatment/<%= Treatment.treatmentId %>" method="POST">
            <input type="text" name="treatmentName" value="<%= Treatment.treatmentName %>" placeholder="Name"
              class="form-control mb-3" autofocus />
            <input type="text" name="tPrice" value="<%= Treatment.tPrice%>" placeholder="Price"
              class="form-control mb-3" />

            <button type="submit" class="btn btn-primary">save treatment</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/_footer") %>